Repository openimsdk/open-im-server, changes with the owners that docs/CODEOWNERS names for each.
All owners: @openimsdk/openim, @cubxxw, @openimsdk/bot, @Bloomingg, @FGadvancer, @skiffer-git, @rfyiamcool, @withchao, 3293172751nss@gmail.com

docs/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# README files
README.md @openimsdk/openim @cubxxw @openimsdk/bot @Bloomingg @FGadvancer  @skiffer-git  @rfyiamcool @withchao

# Contributing guidelines
CONTRIBUTING.md @cubxxw @openimsdk/bot @Bloomingg @FGadvancer  @skiffer-git  @rfyiamcool @withchao

# License files
LICENSE    @cubxxw @openimsdk/bot @Bloomingg @FGadvancer  @skiffer-git  @rfyiamcool @withchao

# Makefile
Makefile    @cubxxw @openimsdk/bot @Bloomingg @FGadvancer  @skiffer-git  @rfyiamcool @withchao

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @cubxxw and @openimsdk/bot will be requested for
# review when someone opens a pull request.
* @openimsdk/openim @cubxxw @openimsdk/bot @Bloomingg @FGadvancer  @skiffer-git  @rfyiamcool @withchao

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.js   @cubxxw @openimsdk/bot @Bloomingg @FGadvancer  @skiffer-git  @rfyiamcool @withchao

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
*.go 3293172751nss@gmail.com 
*.py 3293172751nss@gmail.com 

# Teams can be specified as code owners as well. Teams should
# be identified in the format @org/team-name. Teams must have
# explicit write access to the repository. In this example,
# the OpenIMSDK team in the github organization owns all .txt files.
*.txt @cubxxw @openimsdk/bot @Bloomingg @FGadvancer  @skiffer-git  @rfyiamcool @withchao

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
docs/* 3293172751nss@gmail.com @openimsdk/bot @skiffer-git

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
api/ @openimsdk/openim @cubxxw @skiffer-git

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# CHANGELOG file
CHANGELOG/*    @cubxxw @skiffer-git

# _output directory
_output/*    @skiffer-git

# bin directory
bin/*    @skiffer-git @FGadvancer

# cmd directory
cmd/* 

# config directory
config/*    @skiffer-git

# internal directory
internal/ @openimsdk/openim @skiffer-git @FGadvancer

tools @openimsdk/openim @openimsdk/bot @cubxxw @skiffer-git @FGadvancer

# logs directory
logs/*  @skiffer-git @FGadvancer

# pkg directory
pkg/a2r  @openimsdk/openim @skiffer-git @cubxxw @openimsdk/bot

# scripts directory
scripts/template/*   @openimsdk/openim @cubxxw @skiffer-git @FGadvancer
scripts/enterprise/*  @openimsdk/openim @FGadvancer @cubxxw @skiffer-git @openimsdk/bot
scripts/githooks/*   @openimsdk/openim @cubxxw @skiffer-git @FGadvancer
scripts/lib/*   @openimsdk/openim @FGadvancer @cubxxw @skiffer-git @openimsdk/bot
scripts/make-rules/* @openimsdk/openim @FGadvancer @cubxxw @skiffer-git @openimsdk/bot

# test directory
test/mongo    @FGadvancer @cubxxw @skiffer-git @openimsdk/bot
test/mysql    @FGadvancer @cubxxw @skiffer-git @openimsdk/bot

update callback enable
  deployments/templates/openim.yaml
  docs/contrib/environment.md
  scripts/install/environment.sh
Owners: @openimsdk/openim, @cubxxw, @openimsdk/bot, @Bloomingg, @FGadvancer, @skiffer-git, @rfyiamcool, @withchao

up35
  go.work
  pkg/common/config/config.go
  tools/component/component.go
  tools/component/component_test.go
  tools/mysql2mongo/README.md
  tools/up35/go.mod
  tools/up35/go.sum
  tools/up35/main.go
Owners: @openimsdk/openim, @cubxxw, @openimsdk/bot, @Bloomingg, @FGadvancer, @skiffer-git, @rfyiamcool, @withchao, 3293172751nss@gmail.com

up35
  tools/up35/main.go
Owners: @openimsdk/openim, @openimsdk/bot, @cubxxw, @skiffer-git, @FGadvancer

Update openim.yaml
  deployments/templates/openim.yaml
Owners: @openimsdk/openim, @cubxxw, @openimsdk/bot, @Bloomingg, @FGadvancer, @skiffer-git, @rfyiamcool, @withchao

Update environment.sh
  scripts/install/environment.sh
Owners: @openimsdk/openim, @cubxxw, @openimsdk/bot, @Bloomingg, @FGadvancer, @skiffer-git, @rfyiamcool, @withchao

Update environment.md
  docs/contrib/environment.md
Owners: @openimsdk/openim, @cubxxw, @openimsdk/bot, @Bloomingg, @FGadvancer, @skiffer-git, @rfyiamcool, @withchao

Update environment.md
  docs/contrib/environment.md
Owners: @openimsdk/openim, @cubxxw, @openimsdk/bot, @Bloomingg, @FGadvancer, @skiffer-git, @rfyiamcool, @withchao

Update environment.sh
  scripts/install/environment.sh
Owners: @openimsdk/openim, @cubxxw, @openimsdk/bot, @Bloomingg, @FGadvancer, @skiffer-git, @rfyiamcool, @withchao

fix: fix scripts
  scripts/init-config.sh
  scripts/install/openim-tools.sh
  tools/up35/up35.go
Owners: @openimsdk/openim, @cubxxw, @openimsdk/bot, @Bloomingg, @FGadvancer, @skiffer-git, @rfyiamcool, @withchao

fix: fix auto gen config
  .env
  Dockerfile
  config/alertmanager.yml
  config/config.yaml
Owners: @openimsdk/openim, @cubxxw, @openimsdk/bot, @Bloomingg, @FGadvancer, @skiffer-git, @rfyiamcool, @withchao

feat: add openim openim compatibility
  .dockerignore
  deployments/templates/env_template.yaml
  install.sh
  install_guide.sh
  scripts/init-pwd.sh
Owners: @openimsdk/openim, @cubxxw, @openimsdk/bot, @Bloomingg, @FGadvancer, @skiffer-git, @rfyiamcool, @withchao

fix: fix ai fix git commit continue-on-error: true
  .github/workflows/opencommit.yml
Owners: @openimsdk/openim, @cubxxw, @openimsdk/bot, @Bloomingg, @FGadvancer, @skiffer-git, @rfyiamcool, @withchao

fix: fix ai fix git commit continue-on-error: true
  .github/workflows/e2e-test.yml
  .github/workflows/openimci.yml
Owners: @openimsdk/openim, @cubxxw, @openimsdk/bot, @Bloomingg, @FGadvancer, @skiffer-git, @rfyiamcool, @withchao

fix: fix ai fix git commit continue-on-error: true
  .gitignore
Owners: @openimsdk/openim, @cubxxw, @openimsdk/bot, @Bloomingg, @FGadvancer, @skiffer-git, @rfyiamcool, @withchao

fix: fix ai fix git commit continue-on-error: true
  .github/workflows/e2e-test.yml
  .github/workflows/openimci.yml
Owners: @openimsdk/openim, @cubxxw, @openimsdk/bot, @Bloomingg, @FGadvancer, @skiffer-git, @rfyiamcool, @withchao

fix: fix ai fix git commit continue-on-error: true
  .github/workflows/openimci.yml
Owners: @openimsdk/openim, @cubxxw, @openimsdk/bot, @Bloomingg, @FGadvancer, @skiffer-git, @rfyiamcool, @withchao

add webhooks (#1465)
  .env
  cmd/openim-msggateway/main.go
  config/alertmanager.yml
  config/config.yaml
  deployments/templates/alertmanager.yml
  deployments/templates/openim.yaml
  docs/contrib/environment.md
  go.mod
  go.sum
  internal/api/msg.go
  internal/msggateway/n_ws_server.go
  internal/rpc/friend/black.go
  internal/rpc/friend/callback.go
  internal/rpc/friend/friend.go
  internal/rpc/group/callback.go
  internal/rpc/group/group.go
  internal/rpc/msg/callback.go
  internal/rpc/msg/revoke.go
  internal/rpc/user/callback.go
  pkg/apistruct/msg.go
  pkg/callbackstruct/constant.go
  pkg/callbackstruct/friend.go
  pkg/callbackstruct/group.go
  pkg/callbackstruct/message.go
  pkg/callbackstruct/revoke.go
  pkg/common/config/config.go
  scripts/install/environment.sh
Owners: @openimsdk/openim, @cubxxw, @openimsdk/bot, @Bloomingg, @FGadvancer, @skiffer-git, @rfyiamcool, @withchao, 3293172751nss@gmail.com

update check
  go.mod
  internal/api/friend.go
  internal/api/route.go
  internal/api/user.go
  internal/rpc/friend/friend.go
  pkg/common/db/controller/friend.go
  pkg/common/db/table/relation/friend.go
Owners: @openimsdk/openim, @cubxxw, @openimsdk/bot, @Bloomingg, @FGadvancer, @skiffer-git, @rfyiamcool, @withchao, 3293172751nss@gmail.com

feat: update openim pull message by seq
  scripts/install/test.sh
Owners: @openimsdk/openim, @cubxxw, @openimsdk/bot, @Bloomingg, @FGadvancer, @skiffer-git, @rfyiamcool, @withchao

feat: update openim pull message by seq (#1498)
  scripts/install/test.sh
Owners: @openimsdk/openim, @cubxxw, @openimsdk/bot, @Bloomingg, @FGadvancer, @skiffer-git, @rfyiamcool, @withchao
