Repository openimsdk/open-im-server, changes with the owners that docs/CODEOWNERS names for each.
All owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao, 3293172751nss@gmail.com, @IRONICBo, @77caleb, @BanTanger, @Gordon

Update cla.yml (#634)
  .github/workflows/cla.yml
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix: changing naming irregularities under pkg and internal packages (#520)
  pkg/rpcclient/msg.go
  pkg/rpcclient/notification/common.go
  pkg/rpcclient/notification/conevrsation.go
  pkg/rpcclient/notification/friend.go
  pkg/rpcclient/notification/group.go
  pkg/rpcclient/notification/msg.go
  pkg/rpcclient/push.go
  pkg/rpcclient/third.go
  pkg/rpcclient/user.go
  pkg/startrpc/start.go
  pkg/statistics/statistics.go
Owners: 3293172751nss@gmail.com

cicd: robot automated Change
  go.mod
  go.sum
  internal/api/msg.go
  internal/msggateway/hub_server.go
  internal/rpc/msg/send.go
  pkg/apistruct/manage.go
  pkg/proto/auth/auth.pb.go
  pkg/proto/conversation/conversation.pb.go
  pkg/proto/errinfo/errinfo.pb.go
  pkg/proto/friend/friend.pb.go
  pkg/proto/group/group.pb.go
  pkg/proto/msg/msg.pb.go
  pkg/proto/msggateway/msggateway.pb.go
  pkg/proto/push/push.pb.go
  pkg/proto/sdkws/sdkws.pb.go
  pkg/proto/statistics/statistics.pb.go
  pkg/proto/third/third.pb.go
  pkg/proto/user/user.pb.go
  pkg/proto/wrapperspb/wrapperspb.pb.go
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao, 3293172751nss@gmail.com

fix: changing naming irregularities under pkg and internal packages (#520)
  pkg/common/mw/rpc_server_interceptor.go
  pkg/common/mw/specialerror/error.go
  pkg/common/prome/gather.go
  pkg/common/prome/prometheus.go
  pkg/common/tokenverify/jwt_token.go
  pkg/discoveryregistry/discovery_register.go
  pkg/discoveryregistry/zookeeper/conf.go
  pkg/discoveryregistry/zookeeper/discover.go
  pkg/discoveryregistry/zookeeper/register.go
  pkg/discoveryregistry/zookeeper/resolver.go
  pkg/discoveryregistry/zookeeper/zk.go
  pkg/errs/coderr.go
  pkg/errs/relation.go
  pkg/proto/auth/auth.go
  pkg/proto/conversation/conversation.go
  pkg/proto/friend/friend.go
  pkg/proto/group/group.go
  pkg/proto/msg/msg.go
  pkg/proto/msggateway/msggateway.go
  pkg/proto/push/push.go
  pkg/proto/sdkws/sdkws.go
  pkg/proto/third/third.go
  pkg/proto/user/user.go
  pkg/proto/wrapperspb/wrapperspb.go
  pkg/rpcclient/auth.go
  pkg/rpcclient/conversation.go
  pkg/rpcclient/friend.go
  pkg/rpcclient/group.go
  pkg/rpcclient/msg.go
  pkg/rpcclient/notification/group.go
  pkg/statistics/statistics.go
Owners: 3293172751nss@gmail.com

cicd: robot automated Change
  pkg/common/mw/specialerror/error.go
Owners: 3293172751nss@gmail.com

fix: changing naming irregularities under pkg and internal packages (#520)
  pkg/common/convert/black.go
  pkg/common/mw/rpc_server_interceptor.go
Owners: 3293172751nss@gmail.com

Revert "fix: changing naming irregularities under pkg and internal packages (#520)"
  pkg/common/convert/black.go
  pkg/common/mw/rpc_server_interceptor.go
Owners: 3293172751nss@gmail.com

fix: changing naming irregularities under pkg and internal packages Signed-off-by: BanTanger <1290288968@qq.com>
  pkg/common/mw/specialerror/error.go
Owners: 3293172751nss@gmail.com

Update and rename golangci-link.yml to golangci-lint.yml
  .github/workflows/golangci-lint.yml
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

Update and rename golangci-link.yml to golangci-lint.yml (#637)
  .github/workflows/golangci-lint.yml
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix: actions milestones auto
  .github/workflows/auto-assign-issue.yml
  .github/workflows/help-comment-issue.yml
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix: actions milestones auto
  .github/workflows/auto-release.yml
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix: actions milestones auto (#638)
  .github/workflows/auto-assign-issue.yml
  .github/workflows/help-comment-issue.yml
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

feat: add org server secret
  .github/sync.yml
  .github/workflows/auto-assign-issue.yml
  .github/workflows/cla.yml
  .github/workflows/project-progress.yml
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix: actions milestones auto (#640)
  .github/sync.yml
  .github/workflows/auto-assign-issue.yml
  .github/workflows/auto-release.yml
  .github/workflows/cla.yml
  .github/workflows/project-progress.yml
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

cicd: robot automated Change
  go.mod
  go.sum
  internal/api/msg.go
  internal/msggateway/hub_server.go
  internal/rpc/msg/send.go
  pkg/apistruct/manage.go
  pkg/proto/auth/auth.pb.go
  pkg/proto/conversation/conversation.pb.go
  pkg/proto/errinfo/errinfo.pb.go
  pkg/proto/friend/friend.pb.go
  pkg/proto/group/group.pb.go
  pkg/proto/msg/msg.pb.go
  pkg/proto/msggateway/msggateway.pb.go
  pkg/proto/push/push.pb.go
  pkg/proto/sdkws/sdkws.pb.go
  pkg/proto/statistics/statistics.pb.go
  pkg/proto/third/third.pb.go
  pkg/proto/user/user.pb.go
  pkg/proto/wrapperspb/wrapperspb.pb.go
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao, 3293172751nss@gmail.com

cicd: robot automated Change
  go.mod
  go.sum
  internal/api/msg.go
  internal/msggateway/hub_server.go
  internal/rpc/msg/send.go
  pkg/apistruct/manage.go
  pkg/proto/auth/auth.pb.go
  pkg/proto/conversation/conversation.pb.go
  pkg/proto/errinfo/errinfo.pb.go
  pkg/proto/friend/friend.pb.go
  pkg/proto/group/group.pb.go
  pkg/proto/msg/msg.pb.go
  pkg/proto/msggateway/msggateway.pb.go
  pkg/proto/push/push.pb.go
  pkg/proto/sdkws/sdkws.pb.go
  pkg/proto/statistics/statistics.pb.go
  pkg/proto/third/third.pb.go
  pkg/proto/user/user.pb.go
  pkg/proto/wrapperspb/wrapperspb.pb.go
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao, 3293172751nss@gmail.com

test: document msg num set 100
  pkg/common/db/table/unrelation/msg.go
Owners: 3293172751nss@gmail.com

feat: fix scripts
  .github/sync.yml
  .github/workflows/check-coverage.yml
  .github/workflows/cla.yml
  .github/workflows/e2e-test.yml
  .github/workflows/openimci.yml
  .golangci.yml
  internal/api/msg.go
  internal/msggateway/hub_server.go
  internal/push/offlinepush/offlinepush_interface.go
  internal/rpc/msg/send.go
  scripts/build.cmd
  scripts/start_all.sh
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

cicd: robot automated Change
  go.mod
  go.sum
  internal/api/msg.go
  internal/msggateway/hub_server.go
  internal/rpc/msg/send.go
  pkg/apistruct/manage.go
  pkg/proto/auth/auth.pb.go
  pkg/proto/conversation/conversation.pb.go
  pkg/proto/errinfo/errinfo.pb.go
  pkg/proto/friend/friend.pb.go
  pkg/proto/group/group.pb.go
  pkg/proto/msg/msg.pb.go
  pkg/proto/msggateway/msggateway.pb.go
  pkg/proto/push/push.pb.go
  pkg/proto/sdkws/sdkws.pb.go
  pkg/proto/statistics/statistics.pb.go
  pkg/proto/third/third.pb.go
  pkg/proto/user/user.pb.go
  pkg/proto/wrapperspb/wrapperspb.pb.go
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao, 3293172751nss@gmail.com

fix: StringValue When there are double quotes in the string value, serialization and deserialization fail
  pkg/proto/wrapperspb/wrapperspb.go
Owners: 3293172751nss@gmail.com

fix: StringValue When there are double quotes in the string value, serialization and deserialization fail
  pkg/proto/wrapperspb/wrapperspb.go
Owners: 3293172751nss@gmail.com

fix: StringValue When there are double quotes in the string value, serialization and deserialization fail
  pkg/proto/wrapperspb/wrapperspb.go
Owners: 3293172751nss@gmail.com

fix: StringValue When there are double quotes in the string value, serialization and deserialization fail (#646)
  pkg/proto/wrapperspb/wrapperspb.go
Owners: 3293172751nss@gmail.com

debug (#566)
  build.cmd
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix bug: multiple gateway kick user (#568)
  internal/tools/cron_task.go
Owners: @skiffer-git, @FGadvancer

message for your changes (#565)
  build.cmd
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix: implement of GetUsersOnlineStatus (#567) (#569)
  internal/msggateway/hub_server.go
Owners: @skiffer-git, @FGadvancer

release: v3.0 release
  docker-compose.yaml
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix: script v3.0
  install_im_compose.sh
  install_im_server.sh
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

build: fix chat docker images
  docker-compose.yaml
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix bug: obtain user online status err(#567)
  internal/msggateway/hub_server.go
Owners: @skiffer-git, @FGadvancer

fix: implement of GetUsersOnlineStatus (#567)
  internal/msggateway/hub_server.go
Owners: @skiffer-git, @FGadvancer

fix bug: obtain user online status err(#567)
  internal/msggateway/hub_server.go
Owners: @skiffer-git, @FGadvancer

fix: changing naming irregularities under pkg and internal packages (#520)
  pkg/rpcclient/msg.go
  pkg/rpcclient/notification/common.go
  pkg/rpcclient/notification/conevrsation.go
  pkg/rpcclient/notification/friend.go
  pkg/rpcclient/notification/group.go
  pkg/rpcclient/notification/msg.go
  pkg/rpcclient/push.go
  pkg/rpcclient/third.go
  pkg/rpcclient/user.go
  pkg/startrpc/start.go
  pkg/statistics/statistics.go
Owners: 3293172751nss@gmail.com

fix: implement of GetUsersOnlineStatus (#567)
  internal/msggateway/hub_server.go
Owners: @skiffer-git, @FGadvancer

fix bug: obtain user online status err(#567)
  internal/msggateway/hub_server.go
Owners: @skiffer-git, @FGadvancer

fix bug: obtain user online status err(#567)
  internal/api/user.go
Owners: @skiffer-git, @FGadvancer

fix: changing naming irregularities under pkg and internal packages (#520)
  pkg/common/mw/rpc_server_interceptor.go
  pkg/common/mw/specialerror/error.go
  pkg/common/prome/gather.go
  pkg/common/prome/prometheus.go
  pkg/common/tokenverify/jwt_token.go
  pkg/discoveryregistry/discovery_register.go
  pkg/discoveryregistry/zookeeper/conf.go
  pkg/discoveryregistry/zookeeper/discover.go
  pkg/discoveryregistry/zookeeper/register.go
  pkg/discoveryregistry/zookeeper/resolver.go
  pkg/discoveryregistry/zookeeper/zk.go
  pkg/errs/coderr.go
  pkg/errs/relation.go
  pkg/proto/auth/auth.go
  pkg/proto/conversation/conversation.go
  pkg/proto/friend/friend.go
  pkg/proto/group/group.go
  pkg/proto/msg/msg.go
  pkg/proto/msggateway/msggateway.go
  pkg/proto/push/push.go
  pkg/proto/sdkws/sdkws.go
  pkg/proto/third/third.go
  pkg/proto/user/user.go
  pkg/rpcclient/auth.go
  pkg/rpcclient/conversation.go
  pkg/rpcclient/friend.go
  pkg/rpcclient/group.go
  pkg/rpcclient/msg.go
  pkg/rpcclient/notification/group.go
  pkg/statistics/statistics.go
Owners: 3293172751nss@gmail.com

cicd: robot automated Change
  go.mod
  go.sum
  internal/api/msg.go
  internal/msggateway/hub_server.go
  internal/rpc/msg/send.go
  pkg/apistruct/manage.go
  pkg/proto/auth/auth.pb.go
  pkg/proto/conversation/conversation.pb.go
  pkg/proto/errinfo/errinfo.pb.go
  pkg/proto/friend/friend.pb.go
  pkg/proto/group/group.pb.go
  pkg/proto/msg/msg.pb.go
  pkg/proto/msggateway/msggateway.pb.go
  pkg/proto/push/push.pb.go
  pkg/proto/sdkws/sdkws.pb.go
  pkg/proto/statistics/statistics.pb.go
  pkg/proto/third/third.pb.go
  pkg/proto/user/user.pb.go
  pkg/proto/wrapperspb/wrapperspb.pb.go
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao, 3293172751nss@gmail.com

docs/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# README files
README.md @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# Contributing guidelines
CONTRIBUTING.md @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# License files
LICENSE    @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# Makefile
Makefile    @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @cubxxw and @kubbot will be requested for
# review when someone opens a pull request.
* @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.js   @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
*.go 3293172751nss@gmail.com 
*.py 3293172751nss@gmail.com 

# Teams can be specified as code owners as well. Teams should
# be identified in the format @org/team-name. Teams must have
# explicit write access to the repository. In this example,
# the OpenIMSDK team in the github organization owns all .txt files.
*.txt @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
docs/*  3293172751nss@gmail.com @kubbot @skiffer-git

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
api/ @cubxxw @IRONICBo @skiffer-git

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# CHANGELOG file
CHANGELOG/*    @cubxxw @skiffer-git

# _output directory
_output/*    @skiffer-git

# bin directory
bin/*    @skiffer-git @FGadvancer

# cmd directory
cmd/* 

# config directory
config/*    @skiffer-git

# db directory
db/sdk    @77caleb @BanTanger @cubxxw @Gordon  

# internal directory
internal/ @skiffer-git @FGadvancer

# logs directory
logs/*    @skiffer-git @FGadvancer

# pkg directory
pkg/a2r    @skiffer-git

# scripts directory
scripts/LICENSE/*   @cubxxw @skiffer-git @FGadvancer
scripts/enterprise/*  @FGadvancer @cubxxw @skiffer-git @kubbot
scripts/githooks/*    @cubxxw @skiffer-git @FGadvancer
scripts/lib/*    @FGadvancer @cubxxw @skiffer-git @kubbot
scripts/make-rules/* @FGadvancer @cubxxw @skiffer-git @kubbot

# test directory
test/mongo    @FGadvancer @cubxxw @skiffer-git @kubbot
test/mysql    @FGadvancer @cubxxw @skiffer-git @kubbot
