Repository openimsdk/open-im-server, changes with the owners that docs/CODEOWNERS names for each.
All owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao, 3293172751nss@gmail.com, @IRONICBo, @77caleb, @BanTanger, @Gordon

docs/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# README files
README.md @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# Contributing guidelines
CONTRIBUTING.md @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# License files
LICENSE    @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# Makefile
Makefile    @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @cubxxw and @kubbot will be requested for
# review when someone opens a pull request.
* @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.js   @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
*.go 3293172751nss@gmail.com 
*.py 3293172751nss@gmail.com 

# Teams can be specified as code owners as well. Teams should
# be identified in the format @org/team-name. Teams must have
# explicit write access to the repository. In this example,
# the OpenIMSDK team in the github organization owns all .txt files.
*.txt @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
docs/*  3293172751nss@gmail.com @kubbot @skiffer-git

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
api/ @cubxxw @IRONICBo @skiffer-git

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# CHANGELOG file
CHANGELOG/*    @cubxxw @skiffer-git

# _output directory
_output/*    @skiffer-git

# bin directory
bin/*    @skiffer-git @FGadvancer

# cmd directory
cmd/* 

# config directory
config/*    @skiffer-git

# db directory
db/sdk    @77caleb @BanTanger @cubxxw @Gordon  

# internal directory
internal/ @skiffer-git @FGadvancer

# logs directory
logs/*    @skiffer-git @FGadvancer

# pkg directory
pkg/a2r    @skiffer-git

# scripts directory
scripts/LICENSE/*   @cubxxw @skiffer-git @FGadvancer
scripts/enterprise/*  @FGadvancer @cubxxw @skiffer-git @kubbot
scripts/githooks/*    @cubxxw @skiffer-git @FGadvancer
scripts/lib/*    @FGadvancer @cubxxw @skiffer-git @kubbot
scripts/make-rules/* @FGadvancer @cubxxw @skiffer-git @kubbot

# test directory
test/mongo    @FGadvancer @cubxxw @skiffer-git @kubbot
test/mysql    @FGadvancer @cubxxw @skiffer-git @kubbot

build: cicd test
  .github/sync.yml
  .github/workflows/scripts-test.yml
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

Add retry mechanism to mongoDB, Redis, Kafka
  config/config.yaml
  pkg/common/db/cache/init_redis_test.go
  pkg/common/kafka/producer.go
Owners: @skiffer-git, 3293172751nss@gmail.com

fix bug: friend, args error (#534)
  internal/rpc/friend/friend.go
  pkg/common/constant/constant.go
  pkg/common/convert/black.go
  pkg/common/convert/friend.go
  pkg/common/db/controller/friend.go
  pkg/proto/group/group.go
  pkg/proto/msg/msg.go
Owners: @skiffer-git, @FGadvancer, 3293172751nss@gmail.com

cicd: update openim-ci.yml (#528)
  .github/workflows/openim-ci.yml
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

url to uri
  pkg/common/db/unrelation/mongo.go
Owners: 3293172751nss@gmail.com

feat: add test file
  .dockerignore
  .github/workflows/build-docker-image.yml
  .github/workflows/openim-ci.yml
  Dockerfile
  docker-compose.yaml
  scripts/build_all_service.sh
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

feat: script and make build
  pkg/apistruct/auth.go
  pkg/apistruct/conversation.go
  pkg/apistruct/friend.go
  pkg/apistruct/group.go
  pkg/apistruct/manage.go
  pkg/apistruct/msg.go
  pkg/apistruct/third.go
  pkg/callbackstruct/msg_gateway.go
  pkg/common/constant/constant.go
  pkg/common/constant/platform_id_to_name.go
  pkg/common/mcontext/ctx.go
  pkg/errs/code.go
  pkg/errs/predefine.go
  scripts/msg_gateway_start.sh
  scripts/msg_transfer_start.sh
  scripts/start_rpc_service.sh
Owners: 3293172751nss@gmail.com, @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix conflict
  cmd/openim-api/main.go
  config/config.yaml
  internal/rpc/msg/server.go
  pkg/common/cmd/rpc.go
  pkg/rpcclient/msg.go
  pkg/startrpc/start.go
Owners: 3293172751nss@gmail.com, @skiffer-git, @FGadvancer

fix conflict
  .gitignore
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix conflict
  pkg/startrpc/start.go
Owners: 3293172751nss@gmail.com

fix: scripts and release
  .github/workflows/scripts-test.yml
  docker-compose.yaml
  scripts/msg_transfer_start.sh
  scripts/start_all.sh
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix: fix bug
  .github/workflows/scripts-test.yml
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix: docker compose and release
  docker-compose.yaml
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix: cicd bug
  .github/workflows/scripts-test.yml
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix: cicd bug
  .github/workflows/scripts-test.yml
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

feat: Add light mode and dark mode.(#89)
  Dockerfile
  scripts/make-rules/image.mk
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix get group bug
  internal/api/msg.go
  internal/msgtransfer/init.go
  internal/rpc/msg/send.go
  internal/rpc/msg/server.go
  internal/rpc/msg/sync_msg.go
  internal/tools/msg.go
  pkg/common/constant/constant.go
  pkg/common/db/controller/chatlog.go
  pkg/common/db/controller/msg.go
  pkg/common/db/relation/chat_log_model.go
  pkg/common/db/table/relation/chatlog.go
  pkg/proto/group/group.go
  pkg/proto/msg/msg.pb.go
  pkg/proto/msg/msg.proto
Owners: @skiffer-git, @FGadvancer, 3293172751nss@gmail.com, @cubxxw, @kubbot, @Bloomingg, @hrxiang, @Oliver-WJ, @std-s, @wangchuxiao-dev, @withchao

fix bug #545
  go.mod
  internal/push/offlinepush/offlinepush_interface.go
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix: scripts and release (#552)
  .github/workflows/scripts-test.yml
  docker-compose.yaml
  scripts/msg_transfer_start.sh
  scripts/start_all.sh
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

new feature: add batch send msg
  internal/api/auth.go
  internal/api/conversation.go
  internal/api/friend.go
  internal/api/group.go
  internal/api/msg.go
  internal/api/route.go
  internal/api/statistics.go
  internal/api/third.go
  internal/api/user.go
  pkg/apistruct/auth.go
  pkg/apistruct/aws.go
  pkg/apistruct/conversation.go
  pkg/apistruct/cos.go
  pkg/apistruct/friend.go
  pkg/apistruct/group.go
  pkg/apistruct/manage.go
  pkg/apistruct/msg.go
  pkg/apistruct/oss.go
  pkg/apistruct/pagination.go
  pkg/apistruct/public.go
  pkg/apistruct/super_group.go
  pkg/apistruct/third.go
  pkg/common/db/relation/user_model.go
  pkg/rpcclient/user.go
Owners: @skiffer-git, @FGadvancer, 3293172751nss@gmail.com

bug
  pkg/common/db/unrelation/msg.go
Owners: 3293172751nss@gmail.com

new feature: add batch send msg
  internal/api/msg.go
  pkg/apistruct/msg.go
Owners: @skiffer-git, @FGadvancer, 3293172751nss@gmail.com

new feature: add batch send msg
  internal/api/msg.go
Owners: @skiffer-git, @FGadvancer

new feature: add batch send msg
  internal/api/msg.go
Owners: @skiffer-git, @FGadvancer

new feature: add batch send msg
  internal/api/msg.go
  internal/rpc/user/user.go
  pkg/common/db/controller/user.go
  pkg/common/db/relation/user_model.go
  pkg/common/db/table/relation/user.go
  pkg/rpcclient/user.go
Owners: @skiffer-git, @FGadvancer, 3293172751nss@gmail.com

new feature: add batch send msg
  internal/api/msg.go
Owners: @skiffer-git, @FGadvancer

new feature: add batch send msg (#560)
  internal/api/auth.go
  internal/api/conversation.go
  internal/api/friend.go
  internal/api/group.go
  internal/api/msg.go
  internal/api/route.go
  internal/api/statistics.go
  internal/api/third.go
  internal/api/user.go
  internal/rpc/user/user.go
  pkg/apistruct/auth.go
  pkg/apistruct/aws.go
  pkg/apistruct/conversation.go
  pkg/apistruct/cos.go
  pkg/apistruct/friend.go
  pkg/apistruct/group.go
  pkg/apistruct/manage.go
  pkg/apistruct/msg.go
  pkg/apistruct/oss.go
  pkg/apistruct/pagination.go
  pkg/apistruct/public.go
  pkg/apistruct/super_group.go
  pkg/apistruct/third.go
  pkg/common/db/controller/user.go
  pkg/common/db/relation/user_model.go
  pkg/common/db/table/relation/user.go
  pkg/rpcclient/user.go
Owners: @skiffer-git, @FGadvancer, 3293172751nss@gmail.com

feat: Add light mode and dark mode.(#89)
  Dockerfile
  scripts/make-rules/image.mk
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix: make file code len
  scripts/make-rules/golang.mk
Owners: @FGadvancer, @cubxxw, @skiffer-git, @kubbot

fix: make build issue
  internal/msggateway/long_conn.go
  internal/push/offlinepush/jpush/body/platform.go
  internal/rpc/group/group.go
  internal/rpc/msg/lock.go
  pkg/common/db/s3/minio/minio.go
  pkg/common/db/table/unrelation/msg.go
  pkg/common/db/unrelation/msg.go
Owners: @skiffer-git, @FGadvancer, 3293172751nss@gmail.com

fix: docker images fix
  Dockerfile
  docker-compose.yaml
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

feat: add scripts sudo limits of authority
  .github/workflows/scripts-test.yml
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix: golint and format
  cmd/openim-api/main.go
  internal/msggateway/constant.go
  internal/msgtransfer/init.go
  internal/rpc/conversation/conversaion.go
  internal/rpc/group/group.go
  internal/rpc/msg/lock.go
  internal/rpc/msg/statistics.go
  internal/rpc/third/third.go
  internal/rpc/user/user.go
  internal/tools/conversation.go
  internal/tools/msg.go
  pkg/common/cmd/msg_gateway.go
  pkg/common/db/cache/init_redis_test.go
  pkg/common/db/controller/msg.go
  pkg/common/db/relation/group_model.go
  pkg/common/db/s3/cont/controller.go
  pkg/common/db/s3/cos/cos.go
  pkg/common/db/s3/minio/minio.go
  pkg/common/db/s3/oss/oss.go
  pkg/common/db/table/relation/conversation.go
  pkg/common/prome/gather.go
  pkg/discoveryregistry/zookeeper/discover.go
  pkg/proto/auth/auth.pb.go
  pkg/proto/conversation/conversation.pb.go
  pkg/proto/errinfo/errinfo.pb.go
  pkg/proto/friend/friend.pb.go
  pkg/proto/group/group.pb.go
  pkg/proto/msg/msg.pb.go
  pkg/proto/msggateway/msggateway.pb.go
  pkg/proto/push/push.pb.go
  pkg/proto/sdkws/sdkws.pb.go
  pkg/proto/statistics/statistics.pb.go
  pkg/proto/third/third.pb.go
  pkg/proto/user/user.pb.go
  pkg/proto/wrapperspb/wrapperspb.pb.go
  pkg/rpcclient/conversation.go
  pkg/rpcclient/msg.go
  pkg/rpcclient/notification/group.go
Owners: 3293172751nss@gmail.com, @skiffer-git, @FGadvancer

fix: docker images fix
  Dockerfile
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix bug: multiple gateway kick user
  internal/api/msg.go
  internal/msggateway/hub_server.go
  internal/rpc/auth/auth.go
Owners: @skiffer-git, @FGadvancer

api
  build.cmd
  pkg/common/db/unrelation/msg.go
  start.bat
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao, 3293172751nss@gmail.com

Delete start.bat
  start.bat
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

Delete build.cmd
  build.cmd
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix get groups bug (#562)
  internal/api/msg.go
  internal/msgtransfer/init.go
  internal/rpc/msg/send.go
  internal/rpc/msg/server.go
  internal/rpc/msg/sync_msg.go
  internal/tools/msg.go
  pkg/common/constant/constant.go
  pkg/common/db/controller/chatlog.go
  pkg/common/db/controller/msg.go
  pkg/common/db/relation/chat_log_model.go
  pkg/common/db/table/relation/chatlog.go
  pkg/common/db/unrelation/msg.go
  pkg/proto/group/group.go
  pkg/proto/msg/msg.pb.go
  pkg/proto/msg/msg.proto
Owners: @skiffer-git, @FGadvancer, 3293172751nss@gmail.com, @cubxxw, @kubbot, @Bloomingg, @hrxiang, @Oliver-WJ, @std-s, @wangchuxiao-dev, @withchao

fix bug #545 (#555)
  go.mod
  internal/push/offlinepush/offlinepush_interface.go
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao
