Repository openimsdk/open-im-server, changes with the owners that docs/CODEOWNERS names for each.
All owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao, 3293172751nss@gmail.com, @IRONICBo, @77caleb, @BanTanger, @Gordon

docs/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# README files
README.md @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# Contributing guidelines
CONTRIBUTING.md @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# License files
LICENSE    @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# Makefile
Makefile    @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @cubxxw and @kubbot will be requested for
# review when someone opens a pull request.
* @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.js   @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
*.go 3293172751nss@gmail.com 
*.py 3293172751nss@gmail.com 

# Teams can be specified as code owners as well. Teams should
# be identified in the format @org/team-name. Teams must have
# explicit write access to the repository. In this example,
# the OpenIMSDK team in the github organization owns all .txt files.
*.txt @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
docs/*  3293172751nss@gmail.com @kubbot @skiffer-git

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
api/ @cubxxw @IRONICBo @skiffer-git

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# CHANGELOG file
CHANGELOG/*    @cubxxw @skiffer-git

# _output directory
_output/*    @skiffer-git

# bin directory
bin/*    @skiffer-git @FGadvancer

# cmd directory
cmd/* 

# config directory
config/*    @skiffer-git

# db directory
db/sdk    @77caleb @BanTanger @cubxxw @Gordon  

# internal directory
internal/ @skiffer-git @FGadvancer

# logs directory
logs/*    @skiffer-git @FGadvancer

# pkg directory
pkg/a2r    @skiffer-git

# scripts directory
scripts/LICENSE/*   @cubxxw @skiffer-git @FGadvancer
scripts/enterprise/*  @FGadvancer @cubxxw @skiffer-git @kubbot
scripts/githooks/*    @cubxxw @skiffer-git @FGadvancer
scripts/lib/*    @FGadvancer @cubxxw @skiffer-git @kubbot
scripts/make-rules/* @FGadvancer @cubxxw @skiffer-git @kubbot

# test directory
test/mongo    @FGadvancer @cubxxw @skiffer-git @kubbot
test/mysql    @FGadvancer @cubxxw @skiffer-git @kubbot

message for your changes
  build.cmd
  internal/rpc/msg/server.go
  pkg/common/db/controller/msg.go
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao, 3293172751nss@gmail.com

message for your changes (#565)
  build.cmd
  internal/rpc/msg/server.go
  pkg/common/db/controller/msg.go
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao, 3293172751nss@gmail.com

fix bug: multiple gateway kick user
  internal/msggateway/hub_server.go
  internal/rpc/auth/auth.go
  pkg/proto/msg/msg.go
Owners: @skiffer-git, @FGadvancer, 3293172751nss@gmail.com

fix bug: multiple gateway kick user
  internal/msggateway/hub_server.go
  internal/msggateway/n_ws_server.go
  internal/rpc/auth/auth.go
Owners: @skiffer-git, @FGadvancer

fix bug: multiple gateway kick user
  internal/msggateway/hub_server.go
  internal/msggateway/n_ws_server.go
Owners: @skiffer-git, @FGadvancer

debug
  build.cmd
  internal/rpc/msg/sync_msg.go
  pkg/common/db/controller/msg.go
  pkg/common/db/table/unrelation/msg.go
  pkg/common/db/unrelation/msg.go
  start.bat
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao, 3293172751nss@gmail.com

Delete start.bat
  start.bat
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

Delete build.cmd
  build.cmd
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix: implement of GetUsersOnlineStatus (#567)
  internal/api/user.go
  internal/msggateway/hub_server.go
  pkg/common/db/cache/conversation.go
Owners: @skiffer-git, @FGadvancer, 3293172751nss@gmail.com

fix bug: multiple gateway kick user
  internal/tools/cron_task.go
Owners: @skiffer-git, @FGadvancer

debug (#566)
  build.cmd
  internal/rpc/msg/sync_msg.go
  pkg/common/db/controller/msg.go
  pkg/common/db/table/unrelation/msg.go
  pkg/common/db/unrelation/msg.go
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao, 3293172751nss@gmail.com

fix bug: multiple gateway kick user (#568)
  internal/api/msg.go
  internal/msggateway/hub_server.go
  internal/msggateway/n_ws_server.go
  internal/rpc/auth/auth.go
  internal/tools/cron_task.go
  pkg/proto/msg/msg.go
Owners: @skiffer-git, @FGadvancer, 3293172751nss@gmail.com

fix: implement of GetUsersOnlineStatus (#567) (#569)
  internal/api/user.go
  internal/msggateway/hub_server.go
  pkg/common/db/cache/conversation.go
Owners: @skiffer-git, @FGadvancer, 3293172751nss@gmail.com

Revert "fix: implement of GetUsersOnlineStatus (#567) (#569)"
  internal/api/user.go
  internal/msggateway/hub_server.go
  pkg/common/db/cache/conversation.go
Owners: @skiffer-git, @FGadvancer, 3293172751nss@gmail.com

fix bug: DelConvsersations->DelConversations
  pkg/common/db/controller/conversation.go
Owners: 3293172751nss@gmail.com

release: v3.0 release
  docker-compose.yaml
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix: script v3.0
  init_docker.sh
  install_guide.sh
  install_im_compose.sh
  install_im_server.sh
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

build: fix chat docker images
  docker-compose.yaml
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix: release 3.0
  docker-compose.yaml
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

Replace WeChat image links with COS (Cloud Object Storage)
  README.md
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix bug: obtain user online status err(#567)
  internal/api/user.go
  internal/msggateway/hub_server.go
Owners: @skiffer-git, @FGadvancer

fix: s3 browser preview
  config/config.yaml
  pkg/common/db/controller/s3.go
  pkg/common/db/s3/cos/cos.go
  pkg/common/db/s3/minio/minio.go
  pkg/common/db/s3/oss/oss.go
  pkg/common/db/s3/s3.go
Owners: @skiffer-git, 3293172751nss@gmail.com

fix bug: obtain user online status err(#567)
  internal/msggateway/hub_server.go
Owners: @skiffer-git, @FGadvancer

fix bug: obtain user online status err(#567)
  internal/msggateway/hub_server.go
Owners: @skiffer-git, @FGadvancer

fix bug: obtain user online status err(#567)
  internal/api/user.go
  internal/msggateway/hub_server.go
Owners: @skiffer-git, @FGadvancer

MsgDestructTime
  internal/tools/cron_task.go
Owners: @skiffer-git, @FGadvancer

fix: s3 browser preview (#580)
  config/config.yaml
  pkg/common/db/controller/s3.go
  pkg/common/db/s3/cos/cos.go
  pkg/common/db/s3/minio/minio.go
  pkg/common/db/s3/oss/oss.go
  pkg/common/db/s3/s3.go
Owners: @skiffer-git, 3293172751nss@gmail.com

fix bug: msg destruct sql
  pkg/common/db/relation/conversation_model.go
Owners: 3293172751nss@gmail.com

fix: default app_manger_level
  internal/rpc/user/user.go
  pkg/common/db/table/relation/user.go
Owners: @skiffer-git, @FGadvancer, 3293172751nss@gmail.com

fix bug: msg destruct
  pkg/common/db/controller/msg.go
Owners: 3293172751nss@gmail.com

fix bug: msg destruct
  internal/tools/conversation.go
  pkg/common/db/controller/msg.go
Owners: @skiffer-git, @FGadvancer, 3293172751nss@gmail.com

fix bug: msg destruct sql
  pkg/common/db/controller/msg.go
  pkg/rpcclient/msg.go
  pkg/rpcclient/notification/msg.go
Owners: 3293172751nss@gmail.com

fix bug: msg destruct sql
  internal/tools/conversation.go
Owners: @skiffer-git, @FGadvancer

fix: user app_manger_level
  internal/rpc/user/user.go
  pkg/common/db/table/relation/user.go
Owners: @skiffer-git, @FGadvancer, 3293172751nss@gmail.com

fix bug: msg destruct sql
  internal/tools/conversation.go
  pkg/common/db/controller/msg.go
Owners: @skiffer-git, @FGadvancer, 3293172751nss@gmail.com

Add files via upload
  docs/images/build.png
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

Add files via upload
  docs/images/docker_build.png
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

update readme: With the release of the new system, the readme is also updated accordingly.
  README-zh_CN.md
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

update readme: With the release of the new system, the readme is also updated accordingly.
  docs/images/docker_build.png
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

update readme: With the release of the new system, the readme is also updated accordingly.
  README-zh_CN.md
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao
