Repository openimsdk/open-im-server, changes with the owners that docs/CODEOWNERS names for each.
All owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao, 3293172751nss@gmail.com, @IRONICBo, @77caleb, @BanTanger, @Gordon

docs/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# README files
README.md @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# Contributing guidelines
CONTRIBUTING.md @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# License files
LICENSE    @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# Makefile
Makefile    @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @cubxxw and @kubbot will be requested for
# review when someone opens a pull request.
* @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.js   @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
*.go 3293172751nss@gmail.com 
*.py 3293172751nss@gmail.com 

# Teams can be specified as code owners as well. Teams should
# be identified in the format @org/team-name. Teams must have
# explicit write access to the repository. In this example,
# the OpenIMSDK team in the github organization owns all .txt files.
*.txt @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
docs/*  3293172751nss@gmail.com @kubbot @skiffer-git

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
api/ @cubxxw @IRONICBo @skiffer-git

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# CHANGELOG file
CHANGELOG/*    @cubxxw @skiffer-git

# _output directory
_output/*    @skiffer-git

# bin directory
bin/*    @skiffer-git @FGadvancer

# cmd directory
cmd/* 

# config directory
config/*    @skiffer-git

# db directory
db/sdk    @77caleb @BanTanger @cubxxw @Gordon  

# internal directory
internal/ @skiffer-git @FGadvancer

# logs directory
logs/*    @skiffer-git @FGadvancer

# pkg directory
pkg/a2r    @skiffer-git

# scripts directory
scripts/LICENSE/*   @cubxxw @skiffer-git @FGadvancer
scripts/enterprise/*  @FGadvancer @cubxxw @skiffer-git @kubbot
scripts/githooks/*    @cubxxw @skiffer-git @FGadvancer
scripts/lib/*    @FGadvancer @cubxxw @skiffer-git @kubbot
scripts/make-rules/* @FGadvancer @cubxxw @skiffer-git @kubbot

# test directory
test/mongo    @FGadvancer @cubxxw @skiffer-git @kubbot
test/mysql    @FGadvancer @cubxxw @skiffer-git @kubbot

add MongoDB,Redis,Kafka retry mechanism (#518)
  .gitignore
  config/config.yaml
  pkg/common/db/cache/init_redis.go
  pkg/common/db/cache/init_redis_test.go
  pkg/common/db/unrelation/mongo.go
  pkg/common/http/http_client.go
  pkg/common/kafka/producer.go
  pkg/common/mw/gin.go
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao, 3293172751nss@gmail.com

fix bug: add friend need update both request
  pkg/common/db/controller/friend.go
Owners: 3293172751nss@gmail.com

fix bug: add friend need update both request
  pkg/common/constant/constant.go
  pkg/common/db/controller/friend.go
Owners: 3293172751nss@gmail.com

feat: add scripts (#515)
  .github/workflows/golangci-link.yml
  .golangci.yml
  CHANGELOG/CHANGELOG-3.0.md
  CHANGELOG/CHANGELOG.md
  internal/rpc/user/user.go
  scripts/githooks/pre-commit
  scripts/stop_all.sh
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix bug ContentType is wrong range for Check
  pkg/common/constant/constant.go
  pkg/proto/sdkws/sdkws.go
Owners: 3293172751nss@gmail.com

Add feature: Replace apiURL (in config.yaml) with an external IP address
  .env
  install_im_server.sh
  scripts/init_pwd.sh
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix: changing naming irregularities under pkg and internal packages, #520
  internal/rpc/msg/send.go
  pkg/common/prome/prometheus.go
  pkg/rpcclient/msg.go
  pkg/rpcclient/notification/msg.go
  pkg/rpcclient/push.go
  pkg/rpcclient/third.go
  pkg/rpcclient/user.go
  pkg/startrpc/start.go
  pkg/statistics/statistics.go
Owners: @skiffer-git, @FGadvancer, 3293172751nss@gmail.com

all Back-office management api
  internal/api/group.go
  internal/api/msg.go
  internal/api/route.go
  internal/api/third.go
  internal/msgtransfer/init.go
  internal/rpc/msg/revoke.go
  internal/rpc/msg/server.go
  internal/rpc/msg/sync_msg.go
  internal/tools/msg.go
  pkg/common/db/controller/msg.go
  pkg/common/db/relation/group_model.go
  pkg/common/db/table/unrelation/msg.go
  pkg/common/db/unrelation/msg.go
  pkg/proto/auth/auth.pb.go
  pkg/proto/conversation/conversation.pb.go
  pkg/proto/errinfo/errinfo.pb.go
  pkg/proto/friend/friend.pb.go
  pkg/proto/group/group.pb.go
  pkg/proto/msg/msg.pb.go
  pkg/proto/msg/msg.proto
  pkg/proto/msggateway/msggateway.pb.go
  pkg/proto/push/push.pb.go
  pkg/proto/sdkws/sdkws.pb.go
  pkg/proto/statistics/statistics.pb.go
  pkg/proto/third/third.pb.go
  pkg/proto/user/user.pb.go
  pkg/proto/wrapperspb/wrapperspb.pb.go
  pkg/rpcclient/msg.go
  pkg/rpcclient/third.go
Owners: @skiffer-git, @FGadvancer, 3293172751nss@gmail.com, @cubxxw, @kubbot, @Bloomingg, @hrxiang, @Oliver-WJ, @std-s, @wangchuxiao-dev, @withchao

all back-office api (#533)
  internal/api/group.go
  internal/api/msg.go
  internal/api/route.go
  internal/api/third.go
  internal/msgtransfer/init.go
  internal/rpc/msg/revoke.go
  internal/rpc/msg/server.go
  internal/rpc/msg/sync_msg.go
  internal/tools/msg.go
  pkg/common/db/controller/msg.go
  pkg/common/db/relation/group_model.go
  pkg/common/db/table/unrelation/msg.go
  pkg/common/db/unrelation/msg.go
  pkg/proto/auth/auth.pb.go
  pkg/proto/conversation/conversation.pb.go
  pkg/proto/errinfo/errinfo.pb.go
  pkg/proto/friend/friend.pb.go
  pkg/proto/group/group.pb.go
  pkg/proto/msg/msg.pb.go
  pkg/proto/msg/msg.proto
  pkg/proto/msggateway/msggateway.pb.go
  pkg/proto/push/push.pb.go
  pkg/proto/sdkws/sdkws.pb.go
  pkg/proto/statistics/statistics.pb.go
  pkg/proto/third/third.pb.go
  pkg/proto/user/user.pb.go
  pkg/proto/wrapperspb/wrapperspb.pb.go
  pkg/rpcclient/msg.go
  pkg/rpcclient/third.go
Owners: @skiffer-git, @FGadvancer, 3293172751nss@gmail.com, @cubxxw, @kubbot, @Bloomingg, @hrxiang, @Oliver-WJ, @std-s, @wangchuxiao-dev, @withchao

fix: get user online status #472 (#527)
  internal/api/user.go
Owners: @skiffer-git, @FGadvancer

fix bug: friend, args error (#534)
  internal/rpc/friend/friend.go
  pkg/common/constant/constant.go
  pkg/common/convert/black.go
  pkg/common/convert/friend.go
  pkg/common/db/controller/friend.go
  pkg/proto/group/group.go
  pkg/proto/msg/msg.go
Owners: @skiffer-git, @FGadvancer, 3293172751nss@gmail.com

fix: changing naming irregularities under pkg and internal packages, #520
  internal/msgtransfer/init.go
  internal/rpc/msg/server.go
  pkg/rpcclient/msg.go
Owners: @skiffer-git, @FGadvancer, 3293172751nss@gmail.com

fix: changing naming irregularities under pkg and internal packages, #520
  internal/api/msg.go
Owners: @skiffer-git, @FGadvancer

fix conflict
  cmd/openim-api/main.go
  config/config.yaml
  internal/rpc/msg/server.go
  pkg/common/cmd/rpc.go
  pkg/rpcclient/msg.go
  pkg/startrpc/start.go
Owners: 3293172751nss@gmail.com, @skiffer-git, @FGadvancer

feat: add test file
  .dockerignore
  .github/workflows/build-docker-image.yml
  .github/workflows/openim-ci.yml
  Dockerfile
  docker-compose.yaml
  scripts/build_all_service.sh
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix: minio auto make bucket
  pkg/common/db/s3/minio/minio.go
Owners: 3293172751nss@gmail.com

url to uri
  pkg/common/db/unrelation/mongo.go
Owners: 3293172751nss@gmail.com

feat: script and make build
  pkg/apistruct/auth.go
  pkg/apistruct/conversation.go
  pkg/apistruct/friend.go
  pkg/apistruct/group.go
  pkg/apistruct/manage.go
  pkg/apistruct/msg.go
  pkg/apistruct/third.go
  pkg/callbackstruct/msg_gateway.go
  pkg/common/constant/constant.go
  pkg/common/constant/platform_id_to_name.go
  pkg/common/mcontext/ctx.go
  pkg/errs/code.go
  pkg/errs/predefine.go
  scripts/msg_gateway_start.sh
  scripts/msg_transfer_start.sh
  scripts/start_rpc_service.sh
Owners: 3293172751nss@gmail.com, @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix: changing naming irregularities under pkg and internal packages, #520
  internal/rpc/group/group.go
  internal/tools/msg.go
Owners: @skiffer-git, @FGadvancer

fix conflict
  .gitignore
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix conflict
  internal/msgtransfer/init.go
  internal/tools/msg.go
  pkg/common/db/controller/msg.go
  pkg/common/db/relation/group_model.go
  pkg/proto/auth/auth.pb.go
  pkg/proto/conversation/conversation.pb.go
  pkg/proto/errinfo/errinfo.pb.go
  pkg/proto/friend/friend.pb.go
  pkg/proto/group/group.pb.go
  pkg/proto/msg/msg.pb.go
  pkg/proto/msggateway/msggateway.pb.go
  pkg/proto/push/push.pb.go
  pkg/proto/sdkws/sdkws.pb.go
  pkg/proto/statistics/statistics.pb.go
  pkg/proto/third/third.pb.go
  pkg/proto/user/user.pb.go
  pkg/proto/wrapperspb/wrapperspb.pb.go
  pkg/rpcclient/msg.go
  pkg/rpcclient/third.go
Owners: @skiffer-git, @FGadvancer, 3293172751nss@gmail.com

fix conflict
  cmd/openim-api/main.go
  config/config.yaml
  internal/rpc/msg/server.go
  pkg/common/cmd/rpc.go
  pkg/rpcclient/msg.go
  pkg/startrpc/start.go
Owners: 3293172751nss@gmail.com, @skiffer-git, @FGadvancer

fix conflict
  pkg/startrpc/start.go
Owners: 3293172751nss@gmail.com

fix conflict
  config/config.yaml
Owners: @skiffer-git

fix conflict
  cmd/openim-api/main.go
  config/config.yaml
  pkg/common/cmd/rpc.go
Owners: 3293172751nss@gmail.com, @skiffer-git

fix: rpc mw mismatch key
  pkg/common/mw/check.go
  pkg/common/mw/check_test.go
  pkg/common/mw/rpc_client_interceptor.go
  pkg/common/mw/rpc_server_interceptor.go
Owners: 3293172751nss@gmail.com

fix bug: init conn once
  cmd/openim-api/main.go
  internal/api/msg.go
  internal/api/route.go
  internal/api/third.go
  internal/rpc/msg/as_read.go
  internal/rpc/msg/revoke.go
  pkg/proto/msg/msg.pb.go
  pkg/proto/msg/msg.proto
  pkg/rpcclient/conversation.go
Owners: 3293172751nss@gmail.com, @skiffer-git, @FGadvancer, @cubxxw, @kubbot, @Bloomingg, @hrxiang, @Oliver-WJ, @std-s, @wangchuxiao-dev, @withchao

fix bug: init conn once
  internal/api/msg.go
  pkg/rpcclient/conversation.go
  pkg/rpcclient/msg.go
Owners: @skiffer-git, @FGadvancer, 3293172751nss@gmail.com

fix bug: init conn once
  pkg/rpcclient/msg.go
Owners: 3293172751nss@gmail.com

fix bug: log not in correct position
  config/config.yaml
Owners: @skiffer-git

Add database retry
  pkg/common/db/relation/mysql_init.go
Owners: 3293172751nss@gmail.com

Remove .idea directory and add it to .gitignore
  .idea/.gitignore
  .idea/Open-IM-Server.iml
  .idea/modules.xml
  .idea/restkit/RESTKit_CommonSetting.xml
  .idea/restkit/RESTKit_Environment.xml
  .idea/restkit/RESTKit_RequestSetting.xml
  .idea/vcs.xml
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

For "add database retry" add test
  pkg/common/db/relation/mysql_init_test.go
Owners: 3293172751nss@gmail.com

For "add database retry" add test
  pkg/common/db/relation/mysql_init_test.go
Owners: 3293172751nss@gmail.com

For 'add database retry' add test
  .idea/.gitignore
  .idea/Open-IM-Server.iml
  .idea/modules.xml
  .idea/restkit/RESTKit_CommonSetting.xml
  .idea/restkit/RESTKit_Environment.xml
  .idea/restkit/RESTKit_RequestSetting.xml
  .idea/vcs.xml
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

Add retry mechanism to mongoDB, Redis, Kafka
  .gitignore
  config/config.yaml
  pkg/common/db/cache/init_redis.go
  pkg/common/db/cache/init_redis_test.go
  pkg/common/db/unrelation/mongo.go
  pkg/common/http/http_client.go
  pkg/common/kafka/producer.go
  pkg/common/mw/gin.go
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao, 3293172751nss@gmail.com

fix: get user online status #472 (#527)
  internal/api/user.go
Owners: @skiffer-git, @FGadvancer

fix: minio auto make bucket
  pkg/common/db/s3/minio/minio.go
Owners: 3293172751nss@gmail.com

fix conflict
  internal/msgtransfer/init.go
  internal/tools/msg.go
  pkg/common/db/controller/msg.go
  pkg/common/db/relation/group_model.go
  pkg/proto/auth/auth.pb.go
  pkg/proto/conversation/conversation.pb.go
  pkg/proto/errinfo/errinfo.pb.go
  pkg/proto/friend/friend.pb.go
  pkg/proto/group/group.pb.go
  pkg/proto/msg/msg.pb.go
  pkg/proto/msggateway/msggateway.pb.go
  pkg/proto/push/push.pb.go
  pkg/proto/sdkws/sdkws.pb.go
  pkg/proto/statistics/statistics.pb.go
  pkg/proto/third/third.pb.go
  pkg/proto/user/user.pb.go
  pkg/proto/wrapperspb/wrapperspb.pb.go
  pkg/rpcclient/msg.go
  pkg/rpcclient/third.go
Owners: @skiffer-git, @FGadvancer, 3293172751nss@gmail.com

all back-office api (#533)
  internal/api/group.go
  internal/api/msg.go
  internal/api/route.go
  internal/api/third.go
  internal/msgtransfer/init.go
  internal/rpc/msg/revoke.go
  internal/rpc/msg/server.go
  internal/rpc/msg/sync_msg.go
  internal/tools/msg.go
  pkg/common/db/controller/msg.go
  pkg/common/db/relation/group_model.go
  pkg/common/db/table/unrelation/msg.go
  pkg/common/db/unrelation/msg.go
  pkg/proto/auth/auth.pb.go
  pkg/proto/conversation/conversation.pb.go
  pkg/proto/errinfo/errinfo.pb.go
  pkg/proto/friend/friend.pb.go
  pkg/proto/group/group.pb.go
  pkg/proto/msg/msg.pb.go
  pkg/proto/msg/msg.proto
  pkg/proto/msggateway/msggateway.pb.go
  pkg/proto/push/push.pb.go
  pkg/proto/sdkws/sdkws.pb.go
  pkg/proto/statistics/statistics.pb.go
  pkg/proto/third/third.pb.go
  pkg/proto/user/user.pb.go
  pkg/proto/wrapperspb/wrapperspb.pb.go
  pkg/rpcclient/msg.go
  pkg/rpcclient/third.go
Owners: @skiffer-git, @FGadvancer, 3293172751nss@gmail.com, @cubxxw, @kubbot, @Bloomingg, @hrxiang, @Oliver-WJ, @std-s, @wangchuxiao-dev, @withchao
