Repository openimsdk/open-im-server, changes with the owners that docs/CODEOWNERS names for each.
All owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao, 3293172751nss@gmail.com, @IRONICBo, @77caleb, @BanTanger, @Gordon

docs/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# README files
README.md @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# Contributing guidelines
CONTRIBUTING.md @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# License files
LICENSE    @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# Makefile
Makefile    @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @cubxxw and @kubbot will be requested for
# review when someone opens a pull request.
* @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.js   @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
*.go 3293172751nss@gmail.com 
*.py 3293172751nss@gmail.com 

# Teams can be specified as code owners as well. Teams should
# be identified in the format @org/team-name. Teams must have
# explicit write access to the repository. In this example,
# the OpenIMSDK team in the github organization owns all .txt files.
*.txt @cubxxw @kubbot @Bloomingg @FGadvancer @hrxiang @Oliver-WJ @skiffer-git @std-s @wangchuxiao-dev @withchao

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
docs/*  3293172751nss@gmail.com @kubbot @skiffer-git

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
api/ @cubxxw @IRONICBo @skiffer-git

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# CHANGELOG file
CHANGELOG/*    @cubxxw @skiffer-git

# _output directory
_output/*    @skiffer-git

# bin directory
bin/*    @skiffer-git @FGadvancer

# cmd directory
cmd/* 

# config directory
config/*    @skiffer-git

# db directory
db/sdk    @77caleb @BanTanger @cubxxw @Gordon  

# internal directory
internal/ @skiffer-git @FGadvancer

# logs directory
logs/*    @skiffer-git @FGadvancer

# pkg directory
pkg/a2r    @skiffer-git

# scripts directory
scripts/LICENSE/*   @cubxxw @skiffer-git @FGadvancer
scripts/enterprise/*  @FGadvancer @cubxxw @skiffer-git @kubbot
scripts/githooks/*    @cubxxw @skiffer-git @FGadvancer
scripts/lib/*    @FGadvancer @cubxxw @skiffer-git @kubbot
scripts/make-rules/* @FGadvancer @cubxxw @skiffer-git @kubbot

# test directory
test/mongo    @FGadvancer @cubxxw @skiffer-git @kubbot
test/mysql    @FGadvancer @cubxxw @skiffer-git @kubbot

update readme: With the release of the new system, the readme is also updated accordingly.
  README-zh_CN.md
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

update readme: With the release of the new system, the readme is also updated accordingly.
  README.md
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

update readme: With the release of the new system, the readme is also updated accordingly.
  README.md
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

update readme: With the release of the new system, the readme is also updated accordingly.
  README.md
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix bug: msg destruct sql
  pkg/common/db/controller/msg.go
Owners: 3293172751nss@gmail.com

debug: print stack
  internal/rpc/msg/server.go
  pkg/common/locker/message_locker.go
  pkg/common/mw/rpc_client_interceptor.go
  pkg/common/mw/rpc_server_interceptor.go
Owners: @skiffer-git, @FGadvancer, 3293172751nss@gmail.com

debug: print stack
  internal/push/push_to_client.go
  pkg/common/mw/rpc_client_interceptor.go
  pkg/common/mw/rpc_server_interceptor.go
Owners: @skiffer-git, @FGadvancer, 3293172751nss@gmail.com

debug: print stack
  internal/push/push_to_client.go
Owners: @skiffer-git, @FGadvancer

fix bug: msg destruct sql
  internal/push/push_to_client.go
Owners: @skiffer-git, @FGadvancer

fix bug: msg notification self 2 self push twice
  internal/push/push_handler.go
Owners: @skiffer-git, @FGadvancer

fix bug: heartbeat get self notification
  internal/rpc/msg/sync_msg.go
  pkg/utils/utils.go
Owners: @skiffer-git, @FGadvancer, 3293172751nss@gmail.com

fix: user app_manger_level (#584)
  internal/rpc/user/user.go
  pkg/common/db/table/relation/user.go
Owners: @skiffer-git, @FGadvancer, 3293172751nss@gmail.com

fix: msg destruct not effect and notification self 2 self push twice (#596)
  internal/push/push_handler.go
  internal/rpc/msg/server.go
  internal/rpc/msg/sync_msg.go
  internal/tools/conversation.go
  internal/tools/cron_task.go
  pkg/common/db/controller/msg.go
  pkg/common/db/relation/conversation_model.go
  pkg/common/locker/message_locker.go
  pkg/rpcclient/msg.go
  pkg/rpcclient/notification/msg.go
  pkg/utils/utils.go
Owners: @skiffer-git, @FGadvancer, 3293172751nss@gmail.com

fix: optimize minio initialization
  pkg/common/db/s3/minio/minio.go
Owners: 3293172751nss@gmail.com

fix: optimize minio initialization (#602)
  pkg/common/db/s3/minio/minio.go
Owners: 3293172751nss@gmail.com

fix bug: init grpc conn in one process
  pkg/discoveryregistry/zookeeper/resolver.go
Owners: 3293172751nss@gmail.com

fix bug: grpc conn
  pkg/discoveryregistry/zookeeper/resolver.go
Owners: 3293172751nss@gmail.com

fix bug: zk client recreate node when reconn
  pkg/discoveryregistry/zookeeper/discover.go
  pkg/discoveryregistry/zookeeper/register.go
  pkg/discoveryregistry/zookeeper/zk.go
Owners: 3293172751nss@gmail.com

fix: parameter check
  pkg/proto/auth/auth.go
  pkg/proto/auth/auth.pb.go
  pkg/proto/conversation/conversation.pb.go
  pkg/proto/errinfo/errinfo.pb.go
  pkg/proto/friend/friend.pb.go
  pkg/proto/group/group.pb.go
  pkg/proto/msg/msg.pb.go
  pkg/proto/msggateway/msggateway.pb.go
  pkg/proto/push/push.pb.go
  pkg/proto/sdkws/sdkws.pb.go
  pkg/proto/statistics/statistics.pb.go
  pkg/proto/third/third.pb.go
  pkg/proto/user/user.go
  pkg/proto/user/user.pb.go
  pkg/proto/wrapperspb/wrapperspb.pb.go
  start.bat
Owners: 3293172751nss@gmail.com, @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix: parameter check
  build.cmd
  scripts/build.cmd
  scripts/start.bat
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix bug: set friend mark args error
  pkg/proto/friend/friend.go
Owners: 3293172751nss@gmail.com

fix: to start im or chat, ZooKeeper must be started first.
  docker-compose.yaml
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix: init grpc conn multiple in one process will cause zero address when rpc is called (#604)
  pkg/discoveryregistry/zookeeper/discover.go
  pkg/discoveryregistry/zookeeper/register.go
  pkg/discoveryregistry/zookeeper/resolver.go
  pkg/discoveryregistry/zookeeper/zk.go
  pkg/proto/friend/friend.go
Owners: 3293172751nss@gmail.com

parameter range error (#606)
  pkg/proto/auth/auth.go
  pkg/proto/auth/auth.pb.go
  pkg/proto/conversation/conversation.pb.go
  pkg/proto/errinfo/errinfo.pb.go
  pkg/proto/friend/friend.pb.go
  pkg/proto/group/group.pb.go
  pkg/proto/msg/msg.pb.go
  pkg/proto/msggateway/msggateway.pb.go
  pkg/proto/push/push.pb.go
  pkg/proto/sdkws/sdkws.pb.go
  pkg/proto/statistics/statistics.pb.go
  pkg/proto/third/third.pb.go
  pkg/proto/user/user.go
  pkg/proto/user/user.pb.go
  pkg/proto/wrapperspb/wrapperspb.pb.go
  scripts/build.cmd
Owners: 3293172751nss@gmail.com, @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix bug: obtain user online status err(#567)
  internal/api/user.go
Owners: @skiffer-git, @FGadvancer

fix: msg gateway start output err info
  internal/msggateway/init.go
Owners: @skiffer-git, @FGadvancer

add subscription Req and Resp
  internal/api/route.go
  internal/api/user.go
  pkg/proto/user/user.pb.go
  pkg/proto/user/user.proto
Owners: @skiffer-git, @FGadvancer, 3293172751nss@gmail.com, @cubxxw, @kubbot, @Bloomingg, @hrxiang, @Oliver-WJ, @std-s, @wangchuxiao-dev, @withchao

fix bug: obtain user online status err(#567)
  internal/api/user.go
Owners: @skiffer-git, @FGadvancer

fix bug: obtain user online status err(#567)
  internal/api/user.go
Owners: @skiffer-git, @FGadvancer

fix bug: obtain user online status err(#567)
  internal/api/user.go
Owners: @skiffer-git, @FGadvancer

fix bug: obtain user online status err(#567)
  internal/api/user.go
Owners: @skiffer-git, @FGadvancer

fix bug: rpc client intercepter called twice
  pkg/discoveryregistry/zookeeper/discover.go
Owners: 3293172751nss@gmail.com

feat: add cicd sacript feature
  .github/workflows/opencommit.yml
  .github/workflows/openim-ci.yml
  .github/workflows/scripts-test.yml
  pkg/common/db/controller/user.go
  pkg/common/db/relation/user_model.go
  scripts/make-rules/image.mk
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao, 3293172751nss@gmail.com

fix: delete batch build all file
  scripts/batch_build_all_service.sh
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

fix: docker scripts
  .gitignore
  .goreleaser.yaml
  scripts/make-rules/image.mk
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

feat: add openim fix scripts
  README.md
  golangci.yaml
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

feat: fix scripts show
  .env
  Makefile
  bash.sh
  config/config.yaml
  init_docker.sh
  install_im_compose.sh
  install_im_server.sh
  scripts/docker_check_service.sh
  scripts/env_check.sh
  scripts/init_pwd.sh
  scripts/install_im_compose.sh
  scripts/install_im_server.sh
  scripts/make-rules/golang.mk
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

cicd: add ci workflow
  .github/workflows/openim-ci.yml
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

cicd: add ci workflow
  .github/workflows/openim-ci.yml
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao

cicd: add ci workflow
  .github/workflows/openim-ci.yml
Owners: @cubxxw, @kubbot, @Bloomingg, @FGadvancer, @hrxiang, @Oliver-WJ, @skiffer-git, @std-s, @wangchuxiao-dev, @withchao
